python-gtksheet.pc
python-gtksheet.spec
autom4te.cache/*
Makefile
Makefile.in
configure
config.status
config.guess
config.log
config.sub
autoscan.log
libtool
missing
ltmain.sh
install-sh
depcomp
py-compile
